
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<ul>
    <a class="btn btn-link" href="/Admin/Shop/Categories">Categories</a>
    <br />
    <a class="btn btn-link" href="/Admin/Shop/Products">Products</a>
    <br />
    <a class="btn btn-link" href="/Admin/Shop/Orders">Orders</a>
</ul>