
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<ul>
    <li><a href="/Admin/Shop/Categories">Categories</a></li>
    <li><a href="/Admin/Shop/Products">Products</a></li>
    <li><a href="/Admin/Shop/Orders">Orders</a></li>
</ul>