@model ShoppingCart.Areas.Admin.Models.ViewModel.Dashboard.DashboardVM

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<hr />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-shopping-basket fa-2x"></i>
                    <h3>Products</h3>
                </div>
                <div class="card-body">
                    <a class="btn btn-link" href="/Admin/Shop/Products">Count: @Model.productCount</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-receipt fa-2x"></i>
                    <h3>Orders</h3>
                </div>
                <div class="card-body">
                    <a class="btn btn-link" href="/Admin/Shop/Orders">Count: @Model.orderCount</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-list fa-2x"></i>
                    <h3>Cartegories</h3>
                </div>
                <div class="card-body">
                    <a class="btn btn-link" href="/Admin/Shop/Categories">Count: @Model.categoryCount</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-user fa-2x"></i>
                    <h3>Users</h3>
                </div>
                <div class="card-body">
                    Count: @Model.userCount
                </div>
            </div>
        </div>
    </div>
</div>

<hr />


<div id="app">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#product" data-toggle="tab">
                Products
            </a>
        </li>
        <li><a href="#order" data-toggle="tab">Order</a></li>
        <li><a href="#user" data-toggle="tab">User</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="product">
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Price
                    </th>
                </tr>

                <tr v-for="product in products">
                    <td>
                        {{ product.Name }}
                    </td>
                    <td>
                        {{ product.Price }}
                    </td>
                </tr>

            </table>
        </div>

        <div class="tab-pane fade" id="order">

            <table class="table">
                <tr>
                    <th>
                        OrderId
                    </th>
                    <th>
                        UserId
                    </th>
                    <th>
                        Create At
                    </th>
                </tr>

                <tr v-for="order in orders">
                    <td>
                        {{ order.OrderId }}
                    </td>
                    <td>
                        {{ order.UserId }}
                    </td>
                    <td>
                        {{ order.CreatedAt }}
                    </td>
                </tr>

            </table>

            <br />
            <hr />
            <br />
            <div class="col-xs-12">
                <canvas id="myChart" width="500" height="300"></canvas>
            </div>
        </div>

        <div class="tab-pane fade" id="user">
            <table class="table">
                <tr>
                    <th>
                        User
                    </th>
                    <th>
                        email
                    </th>
                </tr>

                <tr v-for="user in users">
                    <td>
                        {{ user.Name }}
                    </td>
                    <td>
                        {{ user.Email }}
                    </td>
                </tr>

            </table>
        </div>
    </div>
    

</div>

<script>
    var instance = axios.create({
        baseURL: 'http://localhost:49980/',
        timeout: 1000,
    });

    new Vue({
        el: "#app",
        data: {
            products: [],
            orders: [],
            users: [],
            labeldata: [],
            chrtdata: [],
            orderNum: 0
        },
        mounted: function () {
            labeldata = [];
            chrtdata = [];
            orderNum = 0;
            instance
                .get('api/products/getproducts')
                .then(response => {
                    this.products = response.data
                })
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
            instance.get('api/products/getusers')
                .then(response => {
                    this.users = response.data
                })
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
            instance.get('api/products/getorders')
                .then(response => {
                    this.orders = response.data
                })
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
        },
        updated: function () {
            for (var i = 0; i < this.orders.length; i++) {
                orderNum++;
                labeldata.push(this.orders[i].CreatedAt);
                chrtdata.push(orderNum);
            }
            var ctx = document.getElementById("myChart").getContext("2d");
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labeldata,
                    datasets: [{
                        label: 'Create At',
                        data: chrtdata,
                        backgroundColor: "rgba(153,255,51,0.6)"
                    }]
                }
            });
        }
    });
</script>